h1{
    font-size: 3rem;
    text-align: center;
    color: white;
    margin: 2 rem 0 1 rem 0;
    font-weight: normal;
    color: #cf54a6;

}

h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.fallback{
    text-align:center;
    color:white;

}